<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/> -->


<link href="assets/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
<link href="assets/main.css" rel="stylesheet">

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
<!-- BEGIN HEADER -->
<div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
            <li>
	            <% if signed_in? -%>
	      			<%= button_to ('Sign Out'), sign_out_path, :method => :delete %>
	    		<% end -%>
           	</li>
  	  </div>	        
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<!-- END HEADER -->

<!-- BEGIN CONTAINER -->
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="navbar navbar-inverse vertical-nav">
				<div class="navbar-collapse collapse">
					<!-- BEGIN SIDEBAR MENU -->
					<ul class="nav nav-stacked">
		  				<li class="start">
							<a href="#" class="a-color" id="a-add-blog">
								Add Blogs
							</a>
						</li>
						<li>
							<a href="#" class="a-color">
								Read Blogs
							</a>
							
						</li>
						<li>
						<input type ='hidden' id='user_id' value ='<%= current_user.id%>'/>
						</li>
					</ul>
				</div>
			</div>
		</div>	
		<div class="col-lg-8 " style="margin-top:28px">
			<div class="hidden" id="add-blog">
				<%= render 'blogs/new' %>
			</div>		
		</div>
	</div>	
	<script src="assets/bootstrap.min.js" type="text/javascript"></script>
	</body>
	
</html>