<div class="row white centered" id="being_row">
	    <h1 class="centered">The Core Collaborative</h1>
	    <hr>
	    <br>
	    <br>
  
		<div class="col-lg-3 centered hidden" id="being_template">
		      <img class="img img-circle being-image" src="assets/team/nikhil.jpg" height="120px" width="120px" alt="">
		      <br>
		      <h4 class="being-name"><b>Nikhil Vallishayee</b></h4>
		      <a href="#" class="icon icon-twitter being-twitter"></a>
		      <a href="#" class="icon icon-facebook being-facebook"></a>
		      <a href="#" class="icon icon-flickr being-flickr"></a>
		      <p class="being-description">Nik has worked within agile frameworks; spawning teams, mentoring developers and analysts, and consulting on distributed web & mobile products for over 5 years. Being passionate about game changing ideas & large scale value creation, he understands business vision, and helps execute perfect applications from start to finish, on small and large projects.</p>
		</div><!-- col-lg-3 -->
</div>
