<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="IdeaPortal - breathing life into vision">
  <meta name="author" content="patternbot - IdeaPortal">
  <%= favicon_link_tag '/favicon.ico' %>
  <title> IdeaPortal - breathing life into vision </title>

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/main.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/icomoon.css">
  <link href="assets/animate-custom.css" rel="stylesheet">



  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  <script src="assets/jquery.min.js"></script>
  <script type="text/javascript" src="assets/modernizr.custom.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="assets/html5shiv.js"></script>
  <script src="assets/respond.min.js"></script>
  <![endif]-->
</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">


<div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon" style="font-size:30px; color:#3498db;"></span>
        </button>
       <!-- <a class="navbar-brand hidden-xs hidden-sm" href="#home"><img style="background:transparent; margin-left:-100px;width:15%"  src="assets/logo/Artwork-1.png" alt=""></a> -->
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#home" class="smoothScroll">Home</a></li>
          <li> <a href="#about" class="smoothScroll"> About</a></li>
          <li> <a href="#services" class="smoothScroll"> Services</a></li>
          <li> <a href="#team" class="smoothScroll"> Team</a></li>
          <li> <a href="#portfolio" class="smoothScroll"> Portfolio</a></li>
          <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>



<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" id="home" name="home">
  <header class="clearfix">
    <h1><img class=" icon " src="assets/logo/Artwork-3.png" style="width:40%" alt=""></h1>

  </header>
</div><!-- /headerwrap -->

<!-- ==== GREYWRAP ==== -->
<div id="greywrap">
  <div class="row">
    <div class="col-lg-4 callout">
      <span class="icon icon-stack"></span>
      <h2>Grounded</h2>
      <p>
        IdeaPortal ensures principal tenets:<br>
        Social, work & business structures<br>
        based on <b>respect,</b>
        <br>Risk and investment models<br>
        optimized for creative <b>value generation,</b>
        <b>Excellence</b> based intellectual work.<br>
        We promote <b>transperancy, honesty &
        immense value generation</b> wherever occupied in  thought and work.
      </p>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4 callout">
      <span class="icon icon-heart"></span>
      <h2>Electrified</h2>
      <p>We seek to expect and inspire<br>
        the highest order of creative<br>
        <b>passion, commitment, rigor and integrity</b><br>
        in each and everyone of us.<br>
        We forge <b>holistic solutions</b>
        that sustain <b>true and far reaching innovation</b>
        that change lives for better;
        by channeling thought and technology
        via open agile frameworks</br>
        leading to community curated produce.


      </p>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4 callout">
      <span class="icon icon-eye"></span>
      <h2>Transcendent</h2>
      <p>We don't create products or businesses, we <b>craft themes and frameworks</b> we value with love & passion.</br>
        We observe, mend, learn and grow.<br>
        <b>Ever-greening and pruning</b> - applied to people, processes and contexts.<br>
        The call to change the universe grows from within, and is present everywhere.
        We think<br></be> <b>meta, to ensure it is for the better!</b>


      </p>
    </div><!-- col-lg-4 -->
  </div><!-- row -->
</div><!-- greywrap -->

<!-- ==== ABOUT ==== -->
<div class="container" id="about" name="about">
  <div class="row white">
    <br>
    <h1 class="centered">The Idea Behind The Portal</h1>
    <hr>

    <div class="col-lg-6">
      <p>
        <b> Our expertise lies in structuring businesses, nurturing collaborations, and building the technological and analytical arsenal to keep the results honest and relevant.</b>
        Great ideas are worth curation. Visions that enable a more connected, prosperous tomorrow, visions that allows us to live in universally optimal harmony demand translation into reality.
        At IdeaPortal we endeavor to assist and participate in all aspects of this wonderful process. We iterate on frameworks around the developmental, strategic and design aspects of creation
        and use this to incubate our own ideas and help nourish others'.
        We are open to collaboration and partnerships at all levels - curtailed only by willingness and capacity. Investors, analysts, philanthropists, creators, planners and designers are all welcome.
      </p>
    </div><!-- col-lg-6 -->

    <div class="col-lg-6">
      <p>
        <b>Over the past few years, each of us has built an orientation and expertise in different aspects of technological creation, and in the building and curation of web and mobile based social information exchange systems.</b></b><br>
        We provide personalized world-class support in web start-up business structuring, product designing, creation and maintenance while we actively seek to learn and incorporate emerging technologies into our fold. <br>
        The enablement of a portfolio of life-changing products - our ideas and yours' - be it neo social networks, business management platforms, lifestyle apps, solar powered appliances, organic farming or sustainable communities is our goal. <br>


      </p>
    </div><!-- col-lg-6 -->
  </div><!-- row -->
</div><!-- container -->

<!-- ==== SECTION DIVIDER1 -->
<section class="section-divider textdivider divider1">
  <div class="container">
    <h1><b>Design Transcends Boundaries</b></h1>
    <hr>
    <p><b>To achieve great change, one envisions beyond boundaries.<br>To keep it real, one breathes ones' life into the idea.</b></p>
  </div><!-- container -->
</section><!-- section -->


<!-- ==== SERVICES ==== -->
<div class="container" id="services" name="services">
  <br>
  <br>
  <div class="row">
    <h2 class="centered">Web Product Consulting and Services</h2>
    <hr>
    <br>
    <div class="col-lg-offset-2 col-lg-8">
      <p>
        We provide complete support to budding internet start-ups in creating a relevant, useful and scalable products. We work in an agile fashion, helping design the product's look and feel , and building and prioritizing a feature bucket.<br>
        We are strong on practices and processes and hand pick our people based on your requirements of budget and delivery complexity.<br>
        We use <b>Ruby on Rails</b> and <b>Node.js</b> to build out scalable business logic on the cloud. <br>
        We use <b>AWS or Heroku</b> and <b>Chef</b> scripts to maintain a high uptime scalable environment.<br>
        We create top notch <b>web 3.0 </b>frontends that provide seamless UX.<br>
        All works we deploy are optimized for <b>high availability</b>, and are <b>search friendly</b>. We help in spreading the word by consulting with expert content writers and marketing analysts.<br>
        We provide complete support in designing, building and deploying mobile apps on the <b>iOS and Android</b> markets. <br>
        We are agile and adaptible and focus on taking your product out to the market as fast and cheaply as possible. Once validated we extend it to scale across all expected loads.<br>

        <b>If you are looking to bootstrap, grow or scale a business or social web idea - drop us a mail for further enquiries and quotes.</b>
      </p>
    </div><!-- col-lg -->
  </div><!-- row -->

  <div class="row">
    <h2 class="centered">Collaborations</h2>

    <hr>
    <br>
    <div class="col-lg-offset-2 col-lg-8">
      <p>
        When Ideas truly inspire and promise impressive experiences, we endeavor to go all in and assure a productive and successful one. We are open to promoting, supporting, and building frameworks, teams, and products towards this goal. If an idea aligns with the growth of the universe, we want to align with it! We don't plan on taking more than our due, and are bent on giving much more than expected.<br>
        <b>Whether you are looking to share an idea with collaborators or be inspired by one of ours, drop us an email to venture further.</b>
      </p>
    </div>
  </div><!-- row -->
</div><!-- container -->


<!-- ==== SECTION DIVIDER2 -->
<section class="section-divider textdivider divider2">
  <div class="container">
    <h1><b>Creation Is To Partner The Universe</b></h1>
    <hr>
    <p>To consistently deliver best of the class creation, be aligned with the larger forces;<br> seeking harmony, music and dance within greater growth</p>
  </div><!-- container -->
</section><!-- section -->

<!-- ==== TEAM MEMBERS ==== -->
<div class="container" id="team" name="team">
  <br>
  <div class="row white centered">
    <h1 class="centered">The Core Collaborative</h1>
    <hr>
    <br>
    <br>
    <div class="col-lg-3 centered">
      <img class="img img-circle" src="assets/team/nikhil.jpg" height="120px" width="120px" alt="">
      <br>
      <h4><b>Nikhil Vallishayee</b></h4>
      <a href="#" class="icon icon-twitter"></a>
      <a href="#" class="icon icon-facebook"></a>
      <a href="#" class="icon icon-flickr"></a>
      <p>Nik has worked within agile frameworks; spawning teams, mentoring developers and analysts, and consulting on distributed web & mobile products for over 5 years. Being passionate about game changing ideas & large scale value creation, he understands business vision, and helps execute perfect applications from start to finish, on small and large projects.</p>
    </div><!-- col-lg-3 -->

    <div class="col-lg-3 centered">
      <img class="img img-circle" src="assets/team/js.jpg" height="120px" width="120px" alt="">
      <br>
      <h4><b>Jeetesh Sisodia</b></h4>
      <a href="#" class="icon icon-twitter"></a>
      <a href="#" class="icon icon-facebook"></a>
      <a href="#" class="icon icon-flickr"></a>
      <p>'JS' began professional development by diving head first into web product development more than 4 years back. He is currently exploring ecommerce opportunities in india, while honing and maintaining a capable team of young engineers as a part of services wing that can quickly prototype and build a robust base for any web idea out there. </p>
    </div><!-- col-lg-3 -->


    <div class="col-lg-3 centered">
      <img class="img img-circle" src="assets/team/ronak.jpg" height="120px" width="120px" alt="">
      <br>
      <h4><b>Ronak Taldar</b></h4>
      <a href="#" class="icon icon-twitter"></a>
      <a href="#" class="icon icon-facebook"></a>
      <a href="#" class="icon icon-flickr"></a>
      <p>Ronak is a results-driven, customer-focused, articulate and analytical Software Engineer who can think “out of the box”.Strong in design and integration problem solving skills.He loves to learn new technologies and convert them to business solutions.Passionate in solving technical challenges within development environments. </p>
    </div><!-- col-lg-3 -->
   <!-- <div class="col-lg-3 centered">
      <img class="img img-circle" src="assets/team/sahu.jpg" height="120px" width="120px" alt="">
      <br>
      <h4><b>Anand Sahu</b></h4>
      <a href="#" class="icon icon-twitter"></a>
      <a href="#" class="icon icon-facebook"></a>
      <a href="#" class="icon icon-flickr"></a>
      <p>Contributor on portalAffairs.Replace with ~80 word profile of one's self assessment as you work on the base. </p>
    </div> ...col-lg-3 -->

    <div class="col-lg-3 centered">
      <img class="img img-circle" src="assets/team/varuna.jpg" height="120px" width="120px" alt="">
      <br>
      <h4><b>Varuna Iyer</b></h4>
      <a href="#" class="icon icon-twitter"></a>
      <a href="#" class="icon icon-facebook"></a>
      <a href="#" class="icon icon-flickr"></a>
      <p> Varuna is a designer, art enthusiast, philosopher, traveler, explorer and a lover of life. Believing graphic design to be a symphony of aesthetics and storytelling, she brings out her attempts via print and web designs. For over three years, she has been imbuing her passion for love and love of life into her creatives that are helping define the face of modern web products. </p>
    </div><!-- col-lg-3 -->


  </div><!-- row -->
</div><!-- container -->

<!-- ==== SECTION DIVIDER3 -->
<section class="section-divider textdivider divider3">
  <div class="container">
    <h1>Prgmatism Conquers</h1>
    <hr>
    <p>From the purely practical to the richly philosophical, pragmatic design is the solution to a host of challenges.</p>
  </div><!-- container -->
</section><!-- section -->

<!-- ==== PORTFOLIO ==== -->
<div class="container" id="portfolio" name="portfolio">
  <br>
  <div class="row">
    <br>
    <h1 class="centered">Our Works</h1>
    <hr>
    <br>
    <br>
  </div><!-- /row -->
  <div class="container">
    <div class="row">

      <!-- PORTFOLIO IMAGE 1 -->
      <div class="col-md-4 ">
        <div class="grid mask">
          <figure>
            <img class="img-responsive" src="assets/portfolio/gkmit.png" alt="">
            <figcaption>
              <h5>Top Notch <br>Service Mentorship</h5>
              <a data-toggle="modal" href="#gkmitModal" class="btn btn-primary btn-lg">Take a Look</a>
            </figcaption><!-- /figcaption -->
          </figure><!-- /figure -->
        </div><!-- /grid-mask -->
      </div><!-- /col -->


      <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
           a modal for each of your projects. -->

      <div class="modal fade" id="gkmitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">GKMIT Pvt. Ltd.</h4>
            </div>
            <div class="modal-body">
              <p><img class="img-responsive" src="assets/portfolio/gkmit.png" alt=""></p>
              <p>GKMIT is a home crafted, software technology and product creation services firm based out of Udaipur. We have used our processes and technology experience, and patiently mentored a high throughput agile team out of a tier 2 city - providing quality at minimum budgets.</p>
              <p><b><a href="http://gkmit.co/" target="_blank">Visit Site</a></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


      <!-- PORTFOLIO IMAGE 2 -->
      <div class="col-md-4">
        <div class="grid mask">
          <figure>
            <img class="img-responsive" src="assets/portfolio/varunaiyer.png" alt="">
            <figcaption>
              <h5>Creative UI <br> & Assets Design</h5>
              <a data-toggle="modal" href="#varunaIyerModal" class="btn btn-primary btn-lg">Take a Look</a>
            </figcaption><!-- /figcaption -->
          </figure><!-- /figure -->
        </div><!-- /grid-mask -->
      </div><!-- /col -->

      <div class="modal fade" id="varunaIyerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">VarunaIyer.Com</h4>
            </div>
            <div class="modal-body">
              <p><img class="img-responsive" src="assets/portfolio/varunaiyer.png" alt=""></p>
              <p>This Portfolio reflects the works and thought processes of Creative UI Designer Varuna Iyer. It is the perfect go-to to ensure aesthetic adherence via personalized web themes, art work and creative asset creations </p>
              <p><b><a href="http://gkmit.co/" target="_blank">Visit Site</a></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- PORTFOLIO IMAGE 3 -->
      <div class="col-md-4">
        <div class="grid mask">
          <figure>
            <img class="img-responsive" src="assets/portfolio/reshotel.png" alt="">
            <figcaption>
              <h5>Cross Platform<br>Hotel Manager</h5>
              <a data-toggle="modal" href="#resHotelModal" class="btn btn-primary btn-lg">Take a Look</a>
            </figcaption><!-- /figcaption -->
          </figure><!-- /figure -->
        </div><!-- /grid-mask -->
      </div><!-- /col -->
      <div class="modal fade" id="resHotelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">ResHotel</h4>
            </div>
            <div class="modal-body">
              <p><img class="img-responsive" src="assets/portfolio/reshotel.png" alt=""></p>
              <p>Reshotel is bootstrapped hotel management information system - Using bootstrap based themes, rails based JSON apis and a cloud hosted automated operations platform, reshotel is a lean experience in agile product development.</p>
              <p><b><a href="http://gkmit.co/" target="_blank">Visit Site</a></b></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div><!-- /row -->


    <br>
    <br>
  </div><!-- /row -->
</div><!-- /container -->

<%= render 'blog' %>

<!-- ==== SECTION DIVIDER4 ==== -->
<section class="section-divider textdivider divider4">
  <div class="container">
    <h1>Collaborations Create Permanent Bonds</h1>
    <hr>
    <p>There is more to collaboration then succesful completion. Lasting universal impact is achieved when forces are aligned for the larger good.</p>
  </div><!-- container -->
</section><!-- section -->


<!-- ==== GREYWRAP ==== -->
<div id="greywrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 centered">
        <h2>Contact us!</h2>
        <p class="contact-video-title ">
          Being Part Of The Collaborative
        </p>
        <div class="js-video [vimeo, widescreen]">
          <iframe width="560" height="315" src="//www.youtube.com/embed/YuPP1JmbR-A" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="patternbot ">
            <p>All producers, directors and actors will be gladly assisted in their agenda. Whether you are looking to invest in and grow an idea of your choice or believe yourself good enough to create, grow and nurture important ideas, and want to contribute to the collaborative</p>
            <p><a class="btn btn-success">Talk To PatternBot</a><br> the friendly <b><i>CuratorBot at IdeaPortal</i></b></p>

        </div>
      </div>
    </div><!-- row -->
  </div>
  <br>
  <br>
</div><!-- greywrap -->



<!-- ==== SECTION DIVIDER6 ==== -->
<section class="section-divider textdivider divider6">
  <div class="container">
    <h1><b>Centered in Mysore,India<br>Distributed Around The Globe</b></h1>
    <hr>
    <p>+91 8197 309 583</p>
    <p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p>
  </div><!-- container -->
</section><!-- section -->

<div class="container" id="contact" name="contact">
  <div class="row">
    <br>
    <h1 class="centered">We are Glad You Visited</h1>
    <hr>
    <br>
    <br>
    <div class="col-lg-4">
      <h3>Contact Information</h3>
      <p><span class="icon icon-home"></span> 23, 3rd main, 3rd cross, Brindavan Ext-1, Mysore<br/>
        <span class="icon icon-phone"></span> +91 8197 309 583 <br/>
        <span class="icon icon-mobile">
        <span class="icon icon-envelop"></span> <a href="#"> nikhilvallishayee@gmail.com</a> <br/>
        <span class="icon icon-twitter"></span> <a href="https://twitter.com/vallishayee" target = "_blank"> @vallishayee </a> <br/>
        <span class="icon icon-facebook"></span> <a href="https://www.facebook.com/nikhil.vallishayee" target="_blank"> IdeaPortal on FB </a> <br/>
      </p>
    </div><!-- col -->

    <div class="col-lg-4">
      <h3>Distribution</h3>
      <p>We use the medium of our work to free ourselves from the constraints of colocation. IdeaPortal provides the same levels of transparency and efficiency that co-location can bring while interfacing online. Distribution allows us to combine the best of talent and resources from across the world into one consolidated portal</p>
    </div><!-- col -->

    <div class="col-lg-4">
      <h3>Support Us</h3>
      <p>If you can leverage your skill or network to help us create a portfolio of profit making, value creating social exchange systems - we whole heartedly welcome all suggestions and offers towards collaboration</p>
    </div><!-- col -->

  </div><!-- row -->

</div><!-- container -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script type="text/javascript" src="assets/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/retina.js"></script>
<script type="text/javascript" src="assets/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="assets/smoothscroll.js"></script>
<script type="text/javascript" src="assets/jquery-func.js"></script>
</body>
</html>
