.vertical-nav{
	margin-top: 22px;
	margin-left: 0px;
	position: fixed !important;
	height: 100%;
	width: 21%;
	left: 0px;
	border-radius: 0px !important;
	border-color:#222 !important;
}
.a-color{
	color:#999;
}
.nav-stacked > li > a:hover
{
 background-color: transparent !important;
 color:white !important;
}